menu "Darksky Configuration"

config PLACE_NAME
    string "Place name"
    default "Garderen, The Netherlands"

config LATITUDE
    string "Latitude"
    default "52.234361"

config LONGITUDE
    string "Longitude"
    default "5.716846"

config DARKSKY_API_KEY
    string "Darksky API KEY"
    default "myapikey"
    help
	You can get an api key here: https://darksky.net/dev 1,000 Calls Per Day for Free

endmenu